<%= link_to 'Home', controller: "welcome" %>
<%= link_to 'New Post', new_post_path %>

<h1>All the posts</h1>

<table>
	<tr>
		<th>Title</th>
		<th>Text</th>
		<th colspan="2"></th>
	</tr>

	<% @posts.each do |p| %>
	<tr>
		<td><%= p.title %></td>
		<td><%= p.text %></td>
		<td><%= link_to 'Show', p %></td>
		<td><%= link_to 'Edit', edit_post_path(p) %></td>
		<td><%= link_to 'Delete', post_path(p),
										method: :delete, data: {confirm: 
											'Are you sure'} %></td>
	</tr>
	<% end %>
</table>